@media (max-width: 1350px){
  .section__main,
  .stages{
    height: 750px;
  }
  .main__header{
    font-size: 60px;
  }
  .stages__header,
  .contacts__header,
  .map__header{
    font-size: 40px;
  }
  .stages__container{
    padding: 60px 0;
  }
  .contacts{
    padding: 60px 0;
  }
  .contacts__discription{
    margin-bottom: 60px;
  }


  
}
@media (max-width: 1300px){
  .models__item:not(:nth-child(6n)){
    margin-right: 40px;
  }
}
@media (max-width: 1230px) {
  .section__main,
  .stages{
    height: 650px;
  }
  .container__main{
    padding-top: 80px;
  }
  .main__header{
    font-size: 50px;
  }
  .contacts__header,
  .map__header{
    font-size: 30px;
  }
  .map__text{
    font-size: 22px;
  }
}