@media (max-width: 1150px) {
  .header__nav{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
  .map__discription{
    margin-left: 60px;
  }
  .map{
    width: 600px;
    height: 450px;
  }
}