@media (max-width: 800px){
  .main__header{
    font-size: 30px;
  }
  .section__main{
    height: 500px;
  }
  .stages{
    height: auto;
  }
  .advantage__item{
    width: auto;
  }
  .header__link-tel{
    display: none;
  }
  .footer__text{
    font-size: 12px;
  }
  .footer{
    padding: 20px 0;
  }
  .contact__header{
    width: 300px;
  }
  .contact__description{
    padding: 20px 10px;
  }

  .cardCar__header{
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media (max-width: 650px){
  .section__main{
    background-position: left;
  }
  .models__item{
    width: 47%;
    height: 120px;
  }
  .modelCar__item{
    width: 100%;
  }
  .modelCar__content{
    flex-direction: column;
  }
  .modelCar__link{
    width: 100%;
    height: 300px;
  }
  .model__link{
    width: 100px;
    height: 100px;
  }
  .swiper{
    height: 300px;
  }
}
@media (max-width: 500px){
  .container__main{
    padding-top: 25px;
  }
  .main__header{
    margin-bottom: 35px;
  }
  .stages__text{
    width: auto;
  }
  .stages__content{
    align-items: flex-start;
  }
  .stages__item{
    margin-left: 10px;
  }
}