* {
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #141414;
}
a{
  text-decoration: none;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
.main{
  padding-top: 60px;
  margin-bottom: -18px;
}
.hide{
  display: none;
}
.show{
  display: flex;
}


/* Header */
.header{
  position: fixed;
  width: 100%;
  background-color: #080808;
  z-index: 2;

  box-shadow: 0px 8px 10px 0px #080808;
}
.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo{
  display: flex;
  align-items: end;
}
.header__nav{
  display: flex;
  align-items: center;
}
.link{
  font-weight: 400;
  font-size: 22px;
  color: white;

  cursor: pointer;
}
.link::after{
  content:'';
  display:block;
  width:0;
  height:2px;
  background: red;
  transition: width .3s ease;
}
.link__active.link::after{
  width:100%;
}
.link:focus::after,
.link:hover::after{
  width:100%;
  transition: width .3s ease;
}

.header__link:not(:last-child){
  margin-right: 50px;
}
.tel__link{
  display: flex;
}
.header__tel{
  padding-left: 35px;
  background-image: url(../images/tel.png);
  background-repeat: no-repeat;
  background-size: contain;
}


/* main */
.section__main{
  height: 900px;
  background-image: url(../images/main-car.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.container__main{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main__header{
  margin: 0;
  margin-bottom: 50px;

  font-size: 70px;
  font-weight: 500;
  color: white;
}
.btn{
  width: 350px;
  padding: 10px 0;
  font-size: 24px;

  border: 2px solid red;
  border-radius: 7px;
  background-color: transparent;
  color: white;

  cursor: pointer;
  
  transition: background 0.7s ease;
}
.btn:hover{
  background-color: red;
}


/* advantage */
.advantage{
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantage__content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantage__item{
  display: flex;
  padding-left: 10px;
  width: 500px;

  color: white;
  font-size: 20px;
  text-align: center;

  border-radius: 5px;
  border-left: 5px solid red;
}
.advantage__item:nth-child(-n+2){
  margin-bottom: 50px;
}


/* stages */
.stages{
  height: 900px;
  background-image: url(../images/car-sss.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.stages__container{
  padding-top: 120px;
}
.stages__header{
  margin: 0 165px 50px 0;
  padding: 0;

  font-size: 50px;
  text-align: right;
  color: white;
}
.stages__content{
  display: flex;
  flex-direction: column;
}
.stages__item{
  max-width: 680px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}
.stages__item:not(:last-child){
  margin-bottom: 30px;
}
.stages__number{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  border: 1px solid red;
  border-radius: 50%;

  margin-right: 50px;
  color: white;
  font-size: 35px;
}
.stages__text{
  width: 420px;
  margin: 0;

  font-size: 22px;
  color: white;
}


/* contacts */
.contacts{
  padding: 120px 0;
}
.contacts__header{
  margin: 0 0 30px 0;
  padding: 0;

  font-size: 50px;
  color: white;
}
.contacts__text{
  margin: 0 0 50px 0;
  padding: 0;

  font-size: 22px;
  color: white;
}
.contacts__discription{
  margin-bottom: 120px;
}
.contacts__map{
  display: flex;
}
.map{
  width: 700px;
  height: 550px;
}
.map__header{
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-size: 50px;
  color: white;
}
.map__text{
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 22px;
  color: white;
}
.map__discription{
  margin-left: 120px;
}


/* footer */
.footer{
  padding: 50px 0;
  background-color: #101010;
}
.footer__text{
  margin: 0;
  padding: 0;

  font-size: 15px;
  color: rgb(197, 196, 196);
}




/* 2 pages - contact */
.contact__container{
  display: block;
  padding: 80px 0;
}
.contact__header{
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: white;
}
.contact__description{
  margin: 30px 0 50px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  background-color: #4B4B4B;
}
.contact__item{
  display: flex;
  flex-direction: column;
}
.contact__text{
  font-weight: 400;
  font-size: 22px;
  color: white;
}



/* 3 pages - в наличии */
.available{
  padding: 80px 0 50px 0;
}
.available__container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.available__header{
  margin: 0;
  margin-bottom: 30px;

  font-size: 50px;
	color: white;
}
.models{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.model__block:first-child{
  margin-bottom: 40px;
}
.models__item{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 150px;

  background: linear-gradient(180deg, #989797 0%, rgba(217, 217, 217, 0.093) 100%);
  border-radius: 20px;

  transition: border .4s ease;
}
.models__item:nth-child(-n+6){
  margin-bottom: 30px;
}
.models__item:not(:nth-child(6n)){
  margin-right: 65px;
}
.models__item:hover,
.modelCar__link:hover{
  border: 2px solid red;
}
.model__link{
  display: block;
  height: 140px;
  width: 140px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.modelCar{
  padding-bottom: 30px;
}
.modelCar__content{
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.modelCar__item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modelCar__title{
  margin-bottom: 10px;
  font-size: 22px;
  color: white;
  border-bottom: 1px solid red;
}
.modelCar__link{
  width: 600px;
  height: 300px;

  margin-bottom: 30px;

  border-radius: 20px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: border .4s ease;
}



/* Card car */
.cardCar{
  padding: 50px 0;
}
.cardCar__header{
  margin: 0;
  margin-bottom: 20px;

  font-size: 40px;
  color: white;
}
.cardCar__item{
  display: flex;
  justify-content: space-between;
}
.cardCar__title-block{
  padding-bottom: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid red;
}
.swiper{
  width: 900px;
  height: 500px;
}
.swiper-slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cardCar__price{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 35px 25px;

  background: linear-gradient(180deg, #2f2f2f 0%, rgba(193, 193, 193, 0.248) 100%);
  border-radius: 10px;
}
.cardCar__price-block{
  display: flex;
  flex-direction: column;
}
.price__text{
  font-size: 20px;
  color: white;
}
.price__text span{
  color: red;
}
.price__text:not(:last-child){
  margin-bottom: 5px;
}
.price__text:first-child{
  font-size: 30px;
}
.cardCar__price .btn{
  width: auto;
  padding: 10px;
}
.cardCar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardCar__btn .btn{
  padding: 10px 20px;
}

.cardCar__description{
  display: flex;
  height: 100%;
  width: 100%;
}
.cardCar__description p{
  margin: 0;

  font-size: 15px;
  color: white;
}
.cardCar__description div{
  display: flex;
  align-items: center;

  font-size: 15px;
  color: white;
}
.cardCar__description div:first-child{
  margin-right: 100px;
}







/* modal window */
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  opacity: 0; 
  pointer-events: none; 
  transition: 0.5s all;
  z-index: 2;
}

.popup__bg.active { 
  opacity: 1; 
  pointer-events: all; 
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); 
  background: #141414;
  width: 400px;
  padding: 25px;
  transition: 0.5s all;
}

.popup.active { 
  transform: translate(-50%, -50%) scale(1); 
  transition: 0.5s all;
}
/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup label {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}

.popup .label__text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  margin-bottom: 5px;
}

.popup input {
  height: 45px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #4B4B4B;
}

.popup input:focus {
  border-bottom: 1px solid red;
}

.popup input:focus + .label__text {
  color: red;
}

.popup textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  border-bottom: 1px solid #4B4B4B;
  font-size: 18px;
  padding-top: 5px;
}

.popup textarea:focus {
  border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
  color: #2982ff;
}